:root {
  --primary: #00d9ff;
  --secondary: #ff8800;
  --back: #f1f1f1;
  --action: #ff6565;
  --border-radius: 15px;
  --btn-padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--back);
  font-family: sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  margin-top: 20px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 20px;
  text-align: center;
  font-size: 35px;
  background-color: white;
  padding: var(--btn-padding);
  border-radius: 15px;
}

.score h2 {
  margin-bottom: 10px;
}

.score p {
  margin-bottom: 10px;
}

#reset {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#reset:hover {
  background-color: #0056b3;
}

.action {
  margin-bottom: 40px;
  text-align: center;
}

#message {
  font-size: 25px;
}

#next {
  margin-top: 20px;
  padding: 10px 30px;
  background-color: var(--action);
  color: white;
  border-radius: var(--border-radius);
  visibility: hidden;
  cursor: pointer;
}

#next.active {
  visibility: visible;
}

.jeu {
  border-top: 1px solid black;
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 200px;
}

.button {
  display: flex;
  align-items: center;
  font-size: 45px;
  padding: var(--btn-padding);
}

.btn-joueur,
.btn-ordi {
  border-radius: 15px;
  transition: all 0.2s ease;
}

.btn-joueur {
  cursor: pointer;
  background-color: white;
}

.btn-joueur:hover {
  color: var(--primary);
}

.button p {
  margin-left: 20px;
}

.button:not(:last-child) {
  margin-bottom: 40px;
}

.btn-joueur.desactivated {
  background-color: var(--back);
  cursor: default;
}

.btn-joueur.desactivated:hover,
.btn-joueur.active {
  color: inherit;
}

.btn-joueur.active {
  background-color: var(--primary);
}

.btn-ordi.active {
  background-color: var(--secondary);
}

@media (min-width: 768px) {
  .score {
    grid-template-columns: repeat(2, 200px);
    gap: 20px;
  }
}



/* For iPhone 6, 6s, 7, 8 and X */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {

  /* Your CSS rules here */
  .example-class {
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 10px;
  }
}

/* For iPhone 6 Plus, 6s Plus, 7 Plus, 8 Plus and XR */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {

  /* Your CSS rules here */
  .example-class {
    background-color: blue;
    color: white;
    font-size: 24px;
    padding: 15px;
  }
}

/* For iPhone XS Max */
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (-webkit-min-device-pixel-ratio: 3) {

  /* Your CSS rules here */
  .example-class {
    background-color: green;
    color: white;
    font-size: 28px;
    padding: 20px;
  }
}